body{
    font-family: monospace;
}

#score{
    font-size: 4em;
    color: #7c3076;
}

#canv{
    background-color: #000435;
    border: 10px solid #7c3076;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}